<h1><%= @room.name %></h1>

<div id="chat"></div>

<script type="text/html" id="message_template">
  <div class="message">
    {{content}}
  </div>
</script>

<%= simple_form_for(Message.new, remote: true) do |f| %>
  <%= f.input "content", as: :string %>
  <%= f.input "room_id", as: :hidden, :input_html => { :value => @room.id } %>
  <%= f.submit "CHAT!" %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  getMessages(8);
});
</script>